  <%= render 'layouts/navigation' %>

<%= image_tag('about_background.jpg') %>

 <!-- ******Video Section****** --> 
    <section class="story-section section section-on-bg">
        <container style="background-image: url('about_background.jpg')">
        <h2 class="title container text-center"><span style="color:#00661E">About Better Place</span></h2>
    </container>
        <div class="story-container container text-center" style="margin-top: -40px !important;"> 
            <div class="story-container-inner" >                    
                <div class="about">
                    <p>Better Place was created with the idea that there needs to be more options for peoples' final resting places other than cemeteries and urns.</p> 
                    <p>We believe that people want affordable, sustainable and unique options when it comes to how their remains will spend eternity, regardless of their beliefs. With the world population growing rapidly and lack of suitable burial space a real issue, Better Place aims to let people spend eternity in some of the most beautiful places on earth, in completely natural habitats, as part of the soil from which a tree grows.</p>
                    <blockquote class="belife">We believe sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</blockquote>               
                </div><!--//about-->
                <div class="team row">
                    <h3 class="title">Meet the team</h3>
                    <div class="member col-md-6 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <%= image_tag("bradm.jpg", class: "img-responsive") %>
                                <figcaption class="info">
                                    <span class="name">Brad Milne</span>
                                    <br />
                                    <span class="job-title">Co-Founder</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social"><!--
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-6 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <%= image_tag("sandyg.jpg", class: "img-responsive") %>
                               
                                <figcaption class="info"><span class="name">Sandy Gibson</span><br /><span class="job-title">Co-Founder</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social"><!--
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
   
                </div><!--//team-->

                <!-- 
                <div class="press-kit text-center">
                    <h3 class="title">Press Kit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                    <p>Please <a href="contact.html">contact us</a> if you need more materials.</p>
                    <a class="btn btn-cta btn-cta-secondary" href="#">Download Press Kit</a>
                </div><!--//press-kit-->
            </div><!--//story-container--> 
        </div><!--//container-->
    </section><!--//story-video-->

     <%= render 'layouts/footer' %>
    