  <%= render 'layouts/navigation' %>
 <!--
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->        
   
    <section class="promo section section-on-bg">
        <div class="container text-center">                
            <h2 class="title">Spend Eternity in a Better Place</h2>
            <p class="intro">Better Place provides an alternative to traditional burial and cremation options by incorporating your ashes into the natural wilderness of permanently protected parkland.</p>
            <p><a class="btn btn-cta btn-cta-primary" href="/contacts/new">Contact Us for Details</a></p>   
           
        </div><!--//container-->
    </section><!--//promo-->
    
    <div class="sections-wrapper">   
     
        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h2 class="title  text-center"><span style="color:#00661E">How Better Place Works</span></h2>
             
                <p class="intro text-center">We are a new, environmentally sustainable alternative to the current list of after life options. We create permanently protected parkland in Northern Ontario and incorporate your ashes into the natural wilderness to regrow as part of nature.</p>
                <div class="row item">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Choose a final resting place</h3>
                        <div class="desc">
                            <p>Better Place offers final resting places chosen for their natural beauty.</p>
                            <p>As opposed to cemeteries and urns, we give you and your loved ones the opportunity to spend eternity in beautiful natural reserves.</p>
                            <p><i class="fa fa-download"></i> <%= link_to "See all available locations", pages_options_path %></p>
                        </div>
                        <div class="quote">
                            <div class="quote-profile">
                            	<%= image_tag('wade_s.png', class: "img-responsive img circle") %>
                                
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>Our uncle James loved spending his summers up at the cottage. That he can spend eternity in the place that he loves brings warmth to my heart.</p></blockquote>
                                <p class="source">Wade S</p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        	<%= image_tag('locations2.png', class: "img-responsive") %>
                        <figcaption class="figure-caption">Choose among several locations </figcaption>
                    </figure>
                </div><!--//item-->
                
                <div class="row item">
                    <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">We pick up your ashes</h3>
                        <div class="desc">
                            <p>We'll coordinate with your funeral home to come pick up your loved one's ashes.</p>
                            <p>We will then store the ashes until it's seasonally appropriate to plant trees in the area selected for tree planting.</p>
                          
                        </div>
                        
                        <div class="quote">
                            <div class="quote-profile">
                                	<%= image_tag('warren_m.png', class: "img-responsive img-circle") %>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>I'm happy to know there's an alternative for me when I go that helps contribute back to the environment.</p></blockquote>
                                <p class="source">Warren M</p>
                            </div><!--//quote-content-->         
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        
                        <%= image_tag('pick_up.jpg', class: "img-responsive") %>
                        
                    </figure>
                </div><!--//item-->
                
                <div class="row item ">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">We incorporate the ashes into nature</h3>
                        <div class="desc">
                            <p>Better Place mixes the ashes with native soils and the seedlings of a tree.</p>
                            <p>Once the season is best for planting, we travel to the selected area and plant the trees and tend to them as they grow into full size.</p>
                        </div>
                        <div class="quote">
                            <div class="quote-profile">
                                <%= image_tag('barbara_s.png', class: "img-responsive img-circle") %>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>Cemeteries tend to depress me, but seeing where Better Place will help my parents will spend eternity filled me with joy.</p></blockquote>
                                <p class="source"><a href="#">Barbara S</a></p>
                            </div><!--//quote-content-->          
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                       
                         <%= image_tag('seedling.jpg', class: "img-responsive") %>
                        <figcaption class="figure-caption">We plant indigineous trees to the region</figcaption>

                    </figure>
                </div><!--//item-->
                
                <div class="row item last-item">
                    <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Stay connected</h3>
                        <div class="desc">
                            <p>We send you pictures of your loved one's final resting place and how the area grows up.</p>
                            <p>Some of our sites are also visitable if you'd like to make the journey to see the final resting area.</p>
                            
                        </div>
                        
                        <div class="quote">
                            <div class="quote-profile">
                                 <%= image_tag('bruno_s.png', class: "img-responsive img-circle") %>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>It's amazing to think there's an environmentally friendly alternative to the traditional burial and cremation services.</p></blockquote>
                                <p class="source">Bruno L</p>
                            </div><!--//quote-content-->
                        </div><!--//quote-->
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                      
                         <%= image_tag('ontario_sunset.png', class: "img-responsive") %>
                    </figure>
                </div><!--//item-->
                
                
                <div class=" text-center" >
                  <h2 class="title text-center" style="margin-bottom: 40px;"><span style="color:#00661E; ">Want to Know More?</span></h2>
                    <p><a class="btn btn-cta btn-cta-secondary" href="/contacts/new"><span style="color: #fff">Inquire about details</span></a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->  
        
        <!-- ******Testimonials Section****** -->
        <section class="section testimonials">
            <div class="container">
                <h2 class="title text-center">What are people saying about Better Place</h2>
                <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <figure class="profile"> <%= image_tag('profile-m-1.png') %></figure>
                            <div class="content">
                                <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>It's comforting to know that there are options other than the standard burial or cremation. I know many families who don't necessarily know what to do with the ashes, especially from generations past.</p>
                                </blockquote>
                                <p class="source">Dave C<br /><span class="title"></span></p>
                            </div><!--//content-->                         
                        </div><!--//item-->                                                                
                    </div><!--//carousel-inner-->
                </div><!--//carousel-->
            </div><!--//container-->
        </section><!--//testimonials-->          
        
        <!-- ******Press Section****** 
        <section class="section press">
            <div class="container text-center">
                <h2 class="title">Press Coverage</h2>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"> <%= image_tag('press-1.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"> <%= image_tag('press-2.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"> <%= image_tag('press-3.png', class: "img-responsive") %></li>                   
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-4.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-5.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-6.png', class: "img-responsive") %></a></li>                    
                </ul>
                <ul class="press-list list-inline row last">
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-7.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-8.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><%= image_tag('press-9.png', class: "img-responsive") %></a></li>                   
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-10.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-11.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-12.png', class: "img-responsive") %></a></li>                    
                </ul>
                
                <div class="press-lead text-center">
                     <h3 class="title">Have press inquires?</h3>
                     <p class="press-links"><a href="#">Download our press kit</a> or <a href="contact.html">Get in touch</a></p>
                </div>
               
            </div>
        </section>
        -->
        <!-- ******CTA Section****** -->
        <section id="cta-section" class="section cta-section text-center home-cta-section">
            <div class="container">
               <h2 class="title">Interested in Better Place for you or a friend?</h2>
               <p><a class="btn btn-cta btn-cta-primary" href="pages/options" target="_blank">See Options</a></p>
            </div><!--//container-->
        </section><!--//cta-section-->
        
    </div><!--//section-wrapper-->
    
    <%= render 'layouts/footer' %>