  <%= render 'layouts/navigation' %>

 <section class="options_background section section-on-bg">
        <div class="container text-center" style="padding-top: 40px;">                
           <h2 class="title" style="text-align:center;"><span style="font-size: 46px; font-weight: 700; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);">Where Would You Like to Spend Forever?</span></h2>
           
        </div><!--//container-->
    </section><!--//promo-->

 <!-- ******Video Section****** --> 
    <section class="story-section section section-on-bg">
        <container>
        <h2 class="title container text-center"><span style="color:#00661E; font-size: 44px;">Natural Wilderness Reserves</span></h2>
        </container>
    </section><!--//story-video-->



        <div class="container text-center" style="margin-top: -0px !important; margin-bottom: -30px;"> 
            <div class="price_container_inner">                    
                <div class="about" style="text-align: center;">
                    <p style="font-size: 17px;">Better Place chooses final resting locations for their rustic beauty, lack of nearby development, and inspirational qualities of the land. We want people to feel that their remains are going to be part of some of the most beautiful places on the planet.</p> <br />

                    <p><span style="font-weight: bold;font-size: 17px;">We currently offering a limited number of final resting places in northern California</span></p> <br />       
                </div><!--//about-->
            </div>
        </div>

        <div style="min-height: 100px; background-color: #00661E; position: relative;">
            <h2 class="title text-center" style="color:#ffffff; font-size: 36px; font-weight: 300; padding-top: 30px;">Prices & Options</h2>
</div>


        <div class="container">
            <div class="price_container_inner">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 non_grove">
                        <div class="options_title">
                          <p style="font-size: 16px;">The</p>
                          <h4>Wilderness</h4>
                        </div>
                        <div class="non_grove_box">
                            <div class="price_image">
                                <figure class="profile">
                                    <%= image_tag("wilderness_pricing.jpeg", class: "img-responsive") %>
                                </figure><!--//profile-->      
                            </div><!-- price-->

                            <div class="price_description">
                                <p>Your ashes will be incorporated into a tree in wilderness section of the parkland.</p>
                            </div>

                            <div class="price_checkmarks">
                                <ul>
                                  <li>Permanent parkland</li>
                                  <li>Rustic wilderness</li>
                                  <li>Recorded Location</li>
                                </ul>
                            </div>

                            <div class="price_section">
                              <hr>
                              <div class="price_listing">
                                <p>$995</p>
                              </div>
                            </div>
                        </div>

                    </div><!-- price box-->
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 grove_option">
                        <div class="options_title_memorial">
                          <p style="font-size: 16px;">The</p>
                          <h4>Memorial</h4>
                        </div>
                        <div class="non_grove_box grove_box">
                            <div class="price_image">
                                <figure class="profile">
                                    <%= image_tag("memorial_pricing.jpg", class: "img-responsive") %>
                                </figure><!--//profile-->      
                            </div><!-- price-->

                            <div class="price_description">
                                <p>Your ashes will be incorporated into a tree in the landscaped, memorial section of the parkland.</p>
                            </div>

                            <div class="price_checkmarks">
                                <ul>
                                  <li>Permanent parkland</li>
                                  <li>Landscaped forest</li>
                                  <li>Recorded Location</li>
                                  <li>Cleared pathways</li>
                                  <li>Maintained tree</li>
                                  <li>Memorial plaque</li>
                                </ul>
                            </div>

                            <div class="price_section">
                              <hr>
                              <div class="price_listing grove_price">
                                <p>$2495</p>
                              </div>
                            </div>
                        </div>

                    </div><!-- price box-->

                    <div class="col-md-4 col-sm-6 col-xs-12 non_grove">
                        <div class="options_title">
                          <p style="font-size: 17px; font-weight: bold;">The</p>
                          <h4 style="font-weight: bold;">Private Grove</h4>
                        </div>
                        <div class="non_grove_box">
                            <div class="price_image">
                                <figure class="profile">
                                    <%= image_tag("foggy_trees.jpg", class: "img-responsive") %>
                                </figure><!--//profile-->      
                            </div><!-- price-->

                            <div class="price_description">
                                <p>A private grove separated from the memorial forest can be created for you and your loved ones.</p>
                            </div>

                            <div class="price_checkmarks">
                                <ul>
                                  <li>Permanent parkland</li>
                                  <li>Private grove</li>
                                  <li>Recorded location</li>
                                  <li>Easily accessible</li>
                                  <li>Memorial plaque</li>

                                </ul>
                            </div>

                            <div class="price_section">
                              <hr>
                              <div class="price_listing">
                                <p>$6995 *</p>
                              </div>
                            </div>
                            
                        </div>

                    </div><!-- price box-->
                </div><!--//team-->
                  <div class="pricing_fine_print">
                  <p>To ensure family members stay together, you may purchase multiple Wilderness, Memorial or Private Grove packages.</p>
                   <p>* Starting price for a grove with a single tree. Additional trees for family members are an additional $4995 each.</p>
                </div>
              <div style="min-height: 20px; border-bottom: 1px solid #eeeeee; margin-bottom: 50px;">
                    
                </div>
                <!-- 
                <div class="press-kit text-center">
                    <h3 class="title">Press Kit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                    <p>Please <a href="contact.html">contact us</a> if you need more materials.</p>
                    <a class="btn btn-cta btn-cta-secondary" href="#">Download Press Kit</a>
                </div><!--//press-kit-->
                <div class="feature-lead text-center">
                    <h4 class="title"><span style="color:#00661E; line-height: 1.4em;">Want to know more?</span></h4>
                    <p><a class="btn btn-cta btn-cta-secondary" href="/contacts/new"><span style="color: #fff">Inquire about details</span></a></p>
                </div>
         
        </div><!--//container-->
    </div>
   

     <%= render 'layouts/footer' %>
    