  <%= render 'layouts/navigation' %>

<%= image_tag('options_background2.jpg', class: "img-responsive") %>

 <!-- ******Video Section****** --> 
    <section class="story-section section section-on-bg">
        <container style="background-image: url('about_background.jpg')">
        <h2 class="title container text-center"><span style="color:#00661E">Where would you like to spend forever?</span></h2>
    </container>
        <div class="story-container container text-center" style="margin-top: -40px !important;"> 
            <div class="story-container-inner" >                    
                <div class="about" style="text-align: center;">
                    <p>Better Place chooses final resting locations for their rustic beauty, lack of nearby development, and inspirational qualities of the land. We want people to feel that their remains are going to be part of some of the most beautiful places on the planet.</p> <br />

                    <p>For some, that means spending eternity in the setting most representative of their homeland. For others, it means mixing their ashes with the soil of their idea of paradise on earth.</p> <br />

                    <p>For special requests, please <a href="#">contact us.</a></p>
                           
                </div><!--//about-->
                <div class="team row">
                    <h3 class="title">Our Locations</h3>
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <%= image_tag("ontario_small.jpg", class: "img-responsive") %>
                                <figcaption class="info">
                                    <span class="name">Rustic Wilderness</span>
                                    <br />
                                    <span class="job-title">Northern Ontario</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social"><!--
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                       <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <%= image_tag("rainforest.jpg", class: "img-responsive") %>
                                <figcaption class="info">
                                    <span class="name">Wild Rainforest</span>
                                    <br />
                                    <span class="job-title">Costa Rica</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social"><!--
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                       <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <%= image_tag("northern_bc.jpg", class: "img-responsive") %>
                                <figcaption class="info">
                                    <span class="name">Snowy Paradise</span>
                                    <br />
                                    <span class="job-title">Northern BC</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social"><!--
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    
   
                </div><!--//team-->
              <div style="min-height: 20px; border-bottom: 1px solid #eeeeee; margin-bottom: 50px;">
                    
                </div>
                <!-- 
                <div class="press-kit text-center">
                    <h3 class="title">Press Kit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                    <p>Please <a href="contact.html">contact us</a> if you need more materials.</p>
                    <a class="btn btn-cta btn-cta-secondary" href="#">Download Press Kit</a>
                </div><!--//press-kit-->
                <div class="feature-lead text-center">
                    <h4 class="title"><span style="color:#00661E; line-height: 1.4em;">Want to know more?</span></h4>
                    <p><a class="btn btn-cta btn-cta-secondary" href="features.html"><span style="color: #fff">Inquire about details</span></a></p>
                </div>
            </div><!--//story-container--> 
        </div><!--//container-->
    </section><!--//story-video-->

     <%= render 'layouts/footer' %>
    