  <%= render 'layouts/navigation' %>
 <!--
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->        
   
    <section class="promo section section-on-bg">
        <div class="container text-center">                
            <h2 class="title">Thanks!</h2>
            <p style="color: #ffffff; font-size: 22px;">We'll be in touch as soon as we can.</p> 
           
        </div><!--//container-->
    </section><!--//promo-->
    

        
        
        
        <!-- ******Press Section****** 
        <section class="section press">
            <div class="container text-center">
                <h2 class="title">Press Coverage</h2>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"> <%= image_tag('press-1.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"> <%= image_tag('press-2.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"> <%= image_tag('press-3.png', class: "img-responsive") %></li>                   
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-4.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-5.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-6.png', class: "img-responsive") %></a></li>                    
                </ul>
                <ul class="press-list list-inline row last">
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-7.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-8.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><%= image_tag('press-9.png', class: "img-responsive") %></a></li>                   
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-10.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-11.png', class: "img-responsive") %></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><%= image_tag('press-12.png', class: "img-responsive") %></a></li>                    
                </ul>
                
                <div class="press-lead text-center">
                     <h3 class="title">Have press inquires?</h3>
                     <p class="press-links"><a href="#">Download our press kit</a> or <a href="contact.html">Get in touch</a></p>
                </div>
               
            </div>
        </section>
        -->
        <!-- ******CTA Section****** -->
        <section id="cta-section" class="section cta-section text-center home-cta-section">
            <div class="container">
               <h2 class="title">Interested in Better Place for you or a friend?</h2>
               <p><a class="btn btn-cta btn-cta-primary" href="pages/options" target="_blank">See Options</a></p>
            </div><!--//container-->
        </section><!--//cta-section-->
        
    </div><!--//section-wrapper-->
    
    <%= render 'layouts/footer' %>